<div class="home_1" align="center">
  <br>
  <div class="jumbotron" align="center">
    <h1><font color="#337ab7">Bloccit</font></h1>
    <p>Share the World</p>
    <p>
      <%= link_to "Sign In", new_session_path %> or
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
  </div>

  <div class="row" align="center">
    <div class="col-md-4">
      <h2 class="jumbotron"><font color="#337ab7">Endless Sharing</font></h2>
    </div>
    <div class="col-md-4">
      <h2 class="jumbotron"><font color="#337ab7">Unlimited Topics</font></h2>
    </div>
  </div>
</div>
